<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">
        <%- include('./partiels/iconPartiel.ejs') %> Créer un compte
      </h1>
      <p><%- include('./partiels/messages.ejs') %></p>
      <form
        action="/usagers/register"
        method="POST"
        enctype="multipart/form-data"
      >
        <%- include('./partiels/inputPartiel.ejs') %>
        <div class="form-group">
          <label for="password">Mot de passe</label>
          <input
            type="password"
            name="password"
            id="password"
            class="form-control"
            value="<%= typeof password != 'undefined' ? password : '' %>"
            placeholder="Entez un mot de passe"
          />
        </div>
        <div class="form-group">
          <label for="password">Confirmation</label>
          <input
            type="password"
            name="password2"
            id="password2"
            class="form-control"
            value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
            placeholder="Confirmez le mot de passe"
          />
        </div>
        <div class="form-group">
          <h4>Roles:</h4>
          <label for="roleNormal">Normal</label>
          <input
            type="checkbox"
            name="roleNormal"
            id="roleNormal"
            disabled
            checked
          />
          <label for="roleAdmin">Admin</label>
          <input type="checkbox" name="roleAdmin" id="roleAdmin" <%= typeof
          roleAdmin != 'undefined' ? 'checked': '' %> />
          <label for="roleGestion">Gestion</label>
          <input type="checkbox" name="roleGestion" id="roleGestion" <%= typeof
          roleGestion != 'undefined' ? 'checked': '' %> /><br />
        </div>
        <div>
          <label for="fichierImage">Televerser une image de profil</label>
          <input type="file" name="fichierImage" id="fichierImage" required />
        </div>
        <button
          type="submit"
          class="btn btn-primary btn-block"
          style="margin-top: 10px"
        >
          Enregistrer le compte
        </button>
        <a
          style="margin-top: 17px; margin-left: 15px"
          class="btn btn-primary btn-block mb-2"
          href="/usagers/menu"
          >Annuler</a
        >
      </form>
    </div>
  </div>
</div>
